BOT_TOKEN=your-telegram-bot-token
SERVER_URL=https://game-vr-project.onrender.com
OWNER_CHAT_ID=your-telegram-chat-id
AWS_REGION=eu-central-1
DYNAMODB_ADMINS_TABLE=game-vr-bot-admins
DYNAMODB_INVITES_TABLE=game-vr-bot-invites
