BOT_TOKEN=your-telegram-bot-token
SERVER_URL=https://game-vr-project.onrender.com
OWNER_CHAT_ID=your-telegram-chat-id
MONGODB_URI=mongodb+srv://user:password@cluster0.xxxxx.mongodb.net/?appName=Cluster0
